* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5px 50px;
}

.navbar img {
    max-height: 115px;
}

.navbar p {
    margin: 0;
}

.navbar-right img {
    width: 40px;
    margin-right: 10px;
}

.navbar-right a {
    margin-left: 30px;
    font-family: 'Poppins';
    color: #fff;
    background-color: #333;
    text-decoration: none;
    padding: 7px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.navbar-right a:hover {
    background-color: #228B22;
}

/* Footer */
.footer {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins';
}

.footer span {
    color: red;
}

/* BODY CSS */
body {
    background-color: #32C48D;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 1000px;
    height: 550px;
    margin: auto;
    display: flex;
    background: rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: 5px 5px 7px gray, -5px -5px 7px gray;
}

/* LEFT SIDE */
.left-side {
    width: 500px;
    border-right: 1px solid #32C48D;
}

form {
    width: 400px;
    margin: 30px auto;
}

form h1 {
    text-align: center;
}

p a {
    text-decoration: none;
    color: black;
}

hr {
    border-top: 2px solid #32C48D;
    width: 100%;
}

.file-upload-btn {
    display: inline-block;
    background-color: #32C48D;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.file-upload-btn i {
    margin-right: 5px;
}

.file-upload-btn:hover {
    background-color: #228B22;
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.user-info img {
    border-radius: 15px;
}

.profile-photo img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

.profile-button {
    text-align: center;
    margin-top: 10px;
}

.profile-desc {
    margin-left: 45px;
}

.profile-desc label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
    margin-top: 20px;
}

.profile-desc span {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #32C48D;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s ease;
}

/* RIGHT SIDE */
.right-side {
    border-left: 1px solid #32C48D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#cep-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px;
}

#cep-form input {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #32C48D;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    transition: background-color 0.4s ease;
}

#cep-form input:focus {
    background-color: #e4e4e4;
    border: 2px solid #32C48D;
}

#cep-error {
    color: red;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 20px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: -15px;
}

.endereco label {
    font-weight: 600;
    color: blue;
    text-align: center;
    margin-right: 10px;
}

.row .value {
    display: block;
    border: 2px solid #32C48D;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 10px;
}

.row span {
    padding: 10px;
}